@font-face {
    font-family: 'RedHatText';
    src: url('../fonts/static/RedHatText-Regular.ttf') format('truetype'),
        url('../fonts/static/RedHatText-Bold.ttf') format('truetype'),
        url('../fonts/static/RedHatText-SemiBold.ttf') format('truetype'),
        url('../fonts/RedHatText-Italic-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/RedHatText-VariableFont_wght.ttf') format('truetype')
}

@font-face {
    font-family: 'RedHatText-Bold';
    src: url('../fonts/static/RedHatText-Bold.ttf') format('truetype')
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}


body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'RedHatText';
    display: flex;
    flex-direction: column;
}

img, picture {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.desserts-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1.2rem;
    row-gap: 1.2rem;
}

.dessert-img {
    width: 20rem;
    border-radius: 1rem;
    margin-bottom: 2.4rem;
}

.main-heading {
    display: block;
    font-weight: 600;
    margin-bottom: 1.2rem;
    font-family: 'RedHatText-Bold';
}

.container {
    display: flex;
    gap: 1rem;
    margin: 6rem;
}

.dessert-item {
    position: relative;
}

.add-cart {
    text-decoration: none;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid hsl(14, 86%, 42%);
    border-radius: 2rem;
    width: 15rem;
    padding: 1rem;
    color: #000;
    background-color: white;
    position: absolute;
    bottom: 25%;
    left: 10%;
}

.material-symbols-outlined {
    color: hsl(14, 86%, 42%)
}

.dessert-type {
    color: #757575;
}

.price {
    color: hsl(14, 86%, 42%);
    font-size: 1.4rem;
    font-weight: 600;
}

.attribution {
      font-size: 11px;
      text-align: center;
  }

  .attribution a {
      color: hsl(228, 45%, 44%);
  }